@use 'styles/sizes';

$cutoff: 700px;

.wrapper {
  margin-top: 48px;
  border-bottom: 1px solid var(--accents-2);

  .content {
    display: flex;
    align-items: center;
    padding: 0 24px;
    width: sizes.$page-width-with-margin;
    max-width: 100%;
    margin: 0 auto 48px;
    box-sizing: border-box;

    &.withActions {
      margin-bottom: 0;
    }

    @media only screen and (max-width: $cutoff) {
      text-align: center;
      justify-content: center;

      &.withActions {
        margin-bottom: 24px;
      }
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 14px;
      line-height: 24px;

      .header {
        font-family: var(--font-sans);
        color: var(--on-background);
        font-size: 36px;
        font-weight: 500;
        line-height: 1.5;
        margin: 0;
      }

      .body {
        font-family: var(--font-sans);
        color: var(--accents-6);
        font-size: 14px;
        line-height: 24px;
        margin: 0;
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    padding: 0 24px;
    width: sizes.$page-width-with-margin;
    max-width: 100%;
    margin: 0 auto 24px;
    box-sizing: border-box;

    @media only screen and (max-width: $cutoff) {
      text-align: center;
      justify-content: center;
    }

    .actions {
      display: flex;

      .button {
        min-width: auto;
        height: 24px;
        line-height: 22px;
        padding: 0 10px;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        font-weight: 500;
        font-family: var(--font-sans);
        border-radius: 4px;
        font-size: 0.875rem;
        flex-shrink: 0;
        margin: 0px;
        color: var(--accents-5);
        background-color: var(--background);
        border: 1px solid var(--accents-2);
        transition: all 0.2s ease 0s;
        user-select: none;
        cursor: pointer;
        overflow: hidden;
        outline: currentColor none medium;
        box-sizing: border-box;

        &:hover {
          color: var(--on-background);
          border: 1px solid var(--on-background);
        }

        &:not(:first-child) {
          margin-left: 10px;
        }
      }
    }
  }
}
