@use 'sass:map';
@use '@tutorbook/styles/config';
@use '@tutorbook/styles/typography';

.requestHeader {
  @include typography.typography('headline6');
  color: map.get(config.$colors, 'foreground');
  font-weight: 600;
  margin: 24px 0 16px;
}

.formField {
  margin: 8px 0;
  width: 100%;
  display: inline-flex;
}

.formField textarea {
  resize: vertical;
}

.formField:first-child {
  margin-top: 0;
}

.formField:last-child {
  margin-bottom: 0;
}

.formField :global(.mdc-select__anchor) {
  width: 100%;
}

.formField:global(.mdc-select > .mdc-menu > .mdc-list > .mdc-list-item) {
  white-space: nowrap;
}

.button {
  margin: 8px 0 0;
  width: 100%;
}

.errMsg {
  color: map.get(config.$colors, 'error');
  font-weight: 450;
  margin-top: 16px;
}
