.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background);
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  border-radius: inherit;
  transition: 500ms opacity;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &.closing {
    opacity: 0;
  }
}

.overlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 24px;
}

.overlayCheckmark {
  width: 75% !important;
  height: 75% !important;
  max-width: 80px;
  max-height: 80px;
  box-sizing: border-box;
  display: inline-block;
}

article.message {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  transition: opacity 0.4s ease 1.2s;
  will-change: opacity;
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}
