.overlay {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  border-radius: inherit;
  transition: 500ms opacity;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &.closing {
    opacity: 0;
  }
}

.overlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlayCheckmark {
  width: 75% !important;
  height: 75% !important;
  max-width: 80px;
  max-height: 80px;
  box-sizing: border-box;
  display: inline-block;
}
