@use 'sass:map';
@use 'styles/query-form';
@use 'styles/typography';
@use '@material/elevation';

.search {
  border: 1px solid var(--accents-2);
  background: var(--geist-background);
  height: var(--header-height) - 24px;
  align-items: center;
  display: inline-flex;
  position: relative;
  vertical-align: middle;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  z-index: 0;
}

.searchButton {
  @include typography.typography('body2');
  background: transparent none repeat scroll 0% 0%;
  border: 0px none;
  color: var(--geist-foreground);
  cursor: pointer;
  display: inline-block;
  margin: 0px;
  outline: currentcolor none medium;
  padding: 0px 16px;
  text-decoration: none;
  user-select: auto;
  height: 100%;
  position: relative;
  flex: 1 1 0;
  font-weight: 600;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.searchButton:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.searchButton:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.searchDivider {
  flex: 0 0 1px;
  height: 100%;
  width: 1px;
  position: relative;
  background-color: var(--accents-2);
}

.form {
  @include query-form.form(true);
  @include elevation.elevation(8);
  visibility: hidden;
  position: absolute;
  border-radius: 4px;
  background: var(--geist-background);
  transform: translateX(-50%);
  box-sizing: border-box;
  width: 100%;
  z-index: 8;
  left: 50%;
  top: 0;

  &.active {
    visibility: visible;
  }

  .field {
    @include query-form.field(true);
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 0;
}
