<td style="padding:4px 0">
  <table style="width:21px;margin-right:8px;border-collapse:collapse;border-radius:100%;background:#007AFF">
    <tbody>
      <tr>
        <td align="center" style="padding:0;font-size:10.5px;line-height:21px">
          <img width="8px" src="https://assets.tutorbook.org/pngs/check.png" alt="Y" style="font-family:'Poppins','Google Sans',Arial,sans-serif;font-size:10.5px;font-weight:800;line-height:21px;color:#FFFFFF">
        </td>
      </tr>
    </tbody>
  </table>
</td>
<td style="padding:4px 0">
  <a href="{{url}}" style="font-family:'Poppins','Google Sans',Arial,sans-serif;font-size:14px;font-weight:600;line-height:21px;margin-right:18px;color:#007AFF;text-decoration:none">{{label}}</a>
</td>
