@use 'sass:map';
@use '@tutorbook/styles/config';
@use '@tutorbook/styles/typography';
@use '@material/snackbar/_index.scss' as snackbar;
@use '@material/textfield/_index.scss' as textfield;

$filters-height: 56px;

.filters {
  height: $filters-height;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: none;
  display: flex;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;

    .filtersButton {
      margin-left: 12px;
    }
  }

  .right {
    display: flex;
    align-items: center;

    .searchField {
      height: $filters-height - 20px;
      margin-right: 12px;

      &:not(:global(.mdc-text-field--focused)) {
        :global(.mdc-notched-outline__leading),
        :global(.mdc-notched-outline__notch),
        :global(.mdc-notched-outline__trailing) {
          border-color: rgba(0, 0, 0, 0.12);
        }
      }

      input {
        @include typography.typography('body2');
      }
    }

    .menuButton {
      margin-right: 12px;
    }
  }
}

.table {
  width: 100%;
  max-height: calc(100vh - #{config.$nav-height + 56px + 48px});
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  :global(.mdc-data-table__row:not(.mdc-data-table__row--selected):hover)
    .sticky
    .field {
    background-color: rgba(0, 0, 0, 0.04);
  }

  .header th {
    position: sticky;
    top: 0;
    background-color: map.get(config.$colors, 'background');
    box-shadow: 0 1px #e0e0e0;
    z-index: 2;

    &.sticky {
      left: 0;
      box-shadow: 1px 0 #e0e0e0, 0 1px #e0e0e0;
      z-index: 3;
    }
  }

  tbody tr:first-child {
    border: none;
  }

  .sticky {
    position: sticky;
    top: auto;
    left: 0;
    background-color: map.get(config.$colors, 'background');
    box-shadow: 1px 0 #e0e0e0;
    z-index: 1;

    @-moz-document url-prefix() {
      box-shadow: 1px 0 #e0e0e0, 0 -1px #e0e0e0;
    }
  }

  .edit {
    padding: 0 0 0 12px;
  }

  td {
    max-width: 500px;
    padding-top: 0;
    padding-bottom: 0;

    .field {
      vertical-align: middle;
      background-color: transparent;
      margin: -0.75rem -1rem;
      border-radius: 0;
      display: block;
      min-width: 150px;
      height: 100%;

      :global(.mdc-line-ripple::before) {
        border-bottom-width: 0;
      }

      &.bio {
        min-width: 400px;
      }

      &.email {
        min-width: 200px;
      }

      input {
        @include typography.typography('body2');
      }
    }

    .switch {
      vertical-align: middle;
      margin-left: 0.5rem;
    }

    .select :global(.mdc-select__selected-text) {
      //@include typography.typography('body2');
    }
  }
}

.wrapper {
  list-style: none;
  padding: 0 24px;
  max-width: config.$default-width;
  margin: 48px auto;
  box-sizing: border-box;
}

.empty {
  margin: 0;
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.snackbar {
  @include snackbar.viewport-margin(24px);
}
