@use 'sass:map';
@use 'styles/config';
@use 'styles/typography';
@use '@material/snackbar/_index.scss' as snackbar;
@use '@material/textfield/_index.scss' as textfield;

$filters-height: 56px;

.filters {
  height: $filters-height;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: none;
  display: flex;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;

    .filtersButton {
      margin-left: 12px;
    }
  }

  .right {
    display: flex;
    align-items: center;

    .searchField {
      height: $filters-height - 20px;
      margin-right: 12px;

      &:not(:global(.mdc-text-field--focused)) {
        :global(.mdc-notched-outline__leading),
        :global(.mdc-notched-outline__notch),
        :global(.mdc-notched-outline__trailing) {
          border-color: rgba(0, 0, 0, 0.12);
        }
      }

      input {
        @include typography.typography('body2');
      }
    }

    .menuButton {
      margin-right: 12px;
    }
  }
}

.table {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  :global(.mdc-data-table__row:not(.mdc-data-table__row--selected):hover)
    .name
    .field {
    background-color: rgba(0, 0, 0, 0.04);
  }

  .row {
    display: flex;
    width: auto !important;

    > div {
      display: flex;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0;
      flex: 0 0 auto;

      &.visible,
      &.vetted {
        width: 60px;
      }

      &.name {
        width: 150px;
        position: sticky;
        top: auto;
        left: 0;
        background-color: map.get(config.$colors, 'background');
        box-shadow: 1px 0 #e0e0e0;
        z-index: 1;

        @-moz-document url-prefix() {
          box-shadow: 1px 0 #e0e0e0, 0 -1px #e0e0e0;
        }
      }

      &.bio {
        width: 400px;
      }

      &.email {
        width: 200px;
      }

      &.phone {
        width: 150px;
      }

      &.subjects {
        width: 250px;
      }

      .field {
        vertical-align: middle;
        background-color: transparent;
        margin: -12px -16px;
        border-radius: 0;
        display: block;
        height: 100%;
        width: calc(100% + 32px);

        :global(.mdc-line-ripple::before) {
          border-bottom-width: 0;
        }

        input {
          @include typography.typography('body2');
        }
      }

      .switch {
        vertical-align: middle;
        margin-left: 0.5rem;
      }

      .select :global(.mdc-select__selected-text) {
        @include typography.typography('body2');
      }
    }
  }
}

.pagination {
  height: $filters-height;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: none;
  display: flex;
  justify-content: space-between;

  .right {
    align-items: center;
    display: flex;

    .hitsPerPage {
      @include typography.typography('body2');
      align-items: center;
      display: flex;

      :global(.mdc-select) {
        background-color: transparent;
        border-radius: 0;

        :global(.mdc-select__anchor) {
          border-radius: 0;
          width: 70px;

          :global(.mdc-line-ripple::before) {
            border: none;
          }
        }
      }

      :global(.mdc-select:not(.mdc-select--disabled) .mdc-select__anchor) {
        background-color: transparent;
      }
    }

    .pageNumber {
      @include typography.typography('body2');
      margin: 0 24px;
    }

    :global(.mdc-icon-button:last-child) {
      margin-right: ($filters-height - 48px) / 2;
    }
  }
}

.wrapper {
  list-style: none;
  padding: 0 24px;
  max-width: config.$default-width;
  margin: 48px auto;
  box-sizing: border-box;
}

.empty {
  margin: 0;
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.snackbar {
  @include snackbar.viewport-margin(24px);
}
