@use '@tutorbook/covid-fonts' as fonts;

.button {
  height: 56px !important;
  font-family: fonts.$body !important;
  font-size: 105% !important;
  font-weight: fonts.$medium !important;
  letter-spacing: 0.2px !important;
  text-transform: none !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  padding: 0 20px !important;
}

.button:hover .buttonArrow {
  transform: translateX(4px);
}

.buttonArrow {
  position: absolute;
  top: 50%;
  margin-top: -5px;
  margin-left: 8px;
  height: 10px;
  transition: transform 200ms;
}
