@use 'components/dialog';

.pages {
  position: relative;
}

.page {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
  left: 0;
  top: 0;

  &:first-child {
    position: relative;
  }

  &.active {
    opacity: 1;
    z-index: 4;
  }
}
