@use 'components/dialog';

.pages {
  display: grid;
  height: 100%;
  width: 100%;
}

.page {
  // We use grid display to be able to position each page on top of one
  // another yet still retain their sizing to size the dialog surface.
  // @see {@link https://stackoverflow.com/a/51949049/10023158}
  grid-column: 1;
  grid-row: 1;
  opacity: 0;
  z-index: 1;

  &.active {
    opacity: 1;
    z-index: 4;
  }

  .wrapper {
    flex-direction: column;
    position: relative;
    display: flex;
    height: 100%;

    .nav {
      padding: 16px;
      border-bottom: 1px solid var(--accents-2);

      .btn {
        font-size: 18px;
        padding: 9px;
        width: 36px;
        height: 36px;
      }
    }
  }
}
