@use 'components/dialog';

.pages {
  position: relative;
}

.page {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
  left: 0;
  top: 0;

  &:first-child {
    position: relative;
  }

  &.active {
    opacity: 1;
    z-index: 4;
  }

  .wrapper {
    flex-direction: column;
    position: relative;
    display: flex;
    height: 100%;

    .nav {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid var(--accents-2);
      padding: 12px 14px;

      .btn {
        font-size: 18px;
        padding: 9px;
        width: 36px;
        height: 36px;
      }
    }
  }
}
