@use 'sass:map';
@use '@tutorbook/styles/config';

.tabs {
  display: flex;
  flex-direction: row;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.1s ease;
  align-items: center;
  right: 50px;
  will-change: opacity;

  .tab {
    font-size: 14px;
    line-height: 24px;
    font-family: map.get(config.$fonts, 'sans');
    color: map.get(config.$colors, 'accents-5');
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    position: relative;
    padding: 20px 10px;
    cursor: pointer;
    background: transparent;
    border: none;

    &:hover {
      color: map.get(config.$colors, 'foreground');
    }

    &.active {
      color: map.get(config.$colors, 'foreground');

      &::before {
        content: '';
        display: block;
        position: absolute;
        height: 0px;
        right: 9px;
        left: 9px;
        bottom: 0px;
        border-bottom: 2px solid;
      }
    }
  }
}
