@use 'sass:map';
@use '@tutorbook/styles/config';
@use '@tutorbook/styles/typography';

.wrapper {
  max-width: 50rem;
  margin: 25vh auto;
  text-align: center;
  padding: 24px;
}

.header {
  @include typography.typography('headline2');
  margin: 0 0 40px;
}

.body {
  @include typography.typography('subtitle1');
  color: map.get(config.$colors, 'accents-5');
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .header {
    font-size: 3rem;
  }
}
