@use 'title';
@use 'sass:map';
@use '@tutorbook/styles/config';
@use '@tutorbook/styles/typography';

.results {
  list-style: none;
  padding: 0 24px;
  max-width: config.$default-width;
  margin: 48px auto;
  box-sizing: border-box;
}

.wrapper {
  @include title.wrapper;

  .content {
    @include title.content;

    .title {
      @include title.title;
      max-width: 50%;

      .avatar {
        width: 100px;
      }

      .header {
        @include title.header;
      }

      .body {
        @include title.body;
      }
    }
  }
}

.noResults {
  border: 1px solid map.get(config.$colors, 'accents-2');
  border-radius: 4px;

  .content {
    max-width: 500px;
    margin: 15vh auto;
    padding: 24px;
    text-align: center;

    .header {
      @include typography.typography('headline4');
      margin: 0 0 16px;

      @media only screen and (max-width: 500px) {
        font-size: 1.5rem;
      }
    }

    .body {
      @include typography.typography('subtitle1');
      color: map.get(config.$colors, 'accents-5');
      margin: 0;
    }
  }
}
