@use 'sass:map';
@use 'styles/config';
@use 'styles/typography';
@use 'styles/loader';
@use '@material/elevation';

.wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  background-color: map.get(config.$colors, 'accents-2');

  // Temporary fix to some Next.js <Image /> component styling issues.
  // @see {@link https://github.com/vercel/next.js/issues/18915}
  letter-spacing: 0;
  word-spacing: 0;
  font-size: 0;

  &.loading {
    @include loader.loading();

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  .photoWrapper {
    position: relative;
    padding-bottom: 100%;

    .photo {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .noPhotoWrapper {
    position: relative;
    padding-bottom: 100%;

    .noPhoto {
      @include typography.typography('body2');
      color: map.get(config.$colors, 'accents-5');
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 12px;
      font-weight: 500;
      line-height: 1;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}
