@use 'sass:map';
@use 'styles/config';
@use 'styles/typography';
@use 'styles/loader';
@use '@material/elevation';

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  background-color: map.get(config.$colors, 'accents-2');

  &.loading {
    @include loader.loading();

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  .photoWrapper {
    position: relative;
    padding-bottom: 100%;

    .photo {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .noPhotoWrapper {
    position: relative;
    padding-bottom: 100%;

    .noPhoto {
      @include typography.typography('body2');
      color: map.get(config.$colors, 'accents-5');
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 12px;
      font-weight: 500;
      line-height: 1;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}

// TODO: Make the ripple go on top of this.
.verifiedIcon {
  position: absolute;
  bottom: 4px;
  right: 4px;
  color: map.get(config.$colors, 'background');
  font-size: 18px;
}

.verifiedText {
  @include elevation.elevation(4);
  position: absolute;
  top: 12px;
  left: 12px;
  color: map.get(config.$colors, 'foreground');
  background: map.get(config.$colors, 'background');
  z-index: 1;
  font-family: map.get(config.$fonts, 'sans');
  font-size: 14px;
  padding: 4px 6px;
  font-weight: 600;
  border-radius: 4px;
  cursor: help;
}

.verifiedHover {
  @include typography.typography('body1');
  font-size: 14px;
  max-width: 250px;
}
