@use 'styles/sizes';
@use 'styles/common';
@use 'styles/loader';
@use 'styles/socials';
@use 'styles/typography';
@use '@material/icon-button';
@use '@material/elevation';

.content {
  @include common.wrapper(sizes.$form-width-with-margin);
  display: flex;
  padding: 48px 24px;

  $cutoff: 600px;
  $padding: 40px;
  $margin: 24px;

  @media (max-width: $cutoff) {
    flex-direction: column;
    padding: 24px;
  }

  .left {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 260px;

    @media (max-width: $cutoff) {
      margin-bottom: $margin;
      max-width: none;
    }

    .img {
      position: relative;
      display: block;
      width: 100%;

      .actions {
        position: absolute;
        bottom: 8px;
        right: 8px;

        button {
          @include icon-button.size(32px);
          background: var(--primary);
          color: var(--on-primary);
          border-radius: 50%;
          font-size: 18px;
          margin: 0 4px;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          @include elevation.elevation(2);
          transition: elevation.transition-value();
          will-change: elevation.$property;

          &:hover,
          &:focus {
            @include elevation.elevation(4);
          }

          &:active {
            @include elevation.elevation(8);
          }

          &:disabled {
            @include elevation.elevation(0);
          }
        }
      }
    }

    .name {
      @include typography.typography('headline4');
      line-height: 2.2rem;
      margin: 16px 0 8px;
    }

    @include socials.core-styles;
  }

  .right {
    flex-grow: 1.5;
    flex-basis: 0;
    margin-left: $padding;

    @media (max-width: $cutoff) {
      margin-left: 0;
    }

    h2 {
      @include typography.typography('headline6');
      margin: 16px 0 0;

      &:first-of-type {
        margin-top: 0;
      }
    }

    p {
      @include typography.typography('body1');
      color: var(--accents-5);
      white-space: pre-wrap;
      margin: 0 0 8px;
    }

    .picktimeBtn {
      margin-top: 8px;
      width: 100%;
    }
  }
}

.background {
  height: 45vh;
  max-height: 400px;
  margin-top: -1 * sizes.$header-height;
  background: var(--accents-2);
  position: relative;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    @include typography.typography('subtitle1');
    display: flex;
    align-items: center;
    justify-content: center;

    &.blurred {
      filter: blur(50px);
      transform: scale(110%);
    }
  }

  span {
    @include typography.typography('body2');
    margin-top: sizes.$header-height;
    color: var(--accents-5);
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
  }
}

.loading {
  .background {
    @include loader.loading;
  }

  .name,
  .form,
  .socials,
  h2,
  p {
    @include loader.loading;
    border-radius: 4px;
  }

  .form {
    height: 365px;
  }

  .subjects {
    height: 48px;
  }

  .name {
    height: 2.2rem;
    width: 200px;
  }

  .socials {
    width: 200px;
  }

  h2 {
    height: 32px;
    margin-bottom: 8px !important;
  }

  p {
    height: 100px;
  }
}

.divider {
  border-top: 1px solid var(--accents-2);
  margin: 32px 0;
}
