@use 'styles/sizes';
@use 'styles/common';
@use 'styles/loader';
@use '@material/icon-button';
@use '@material/elevation';

.main {
  @include common.wrapper;

  .title {
    margin: 48px 0 24px;

    .name {
      font-size: 36px;
      font-weight: 500;
      line-height: 32px;
      height: 32px;
      margin: 0;
    }

    .socials {
      margin-top: 8px;
      height: 20px;

      a {
        @include common.link;
        text-transform: capitalize;
        display: inline-block;
        font-size: 14px;
      }

      span {
        color: var(--accents-5);
        font-size: 14px;

        &.dot {
          font-size: 16px;
          margin: 0 4px;
        }
      }
    }
  }

  .header {
    display: flex;

    .background {
      flex: 1 1 auto;
      position: relative;
      border-radius: 8px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      overflow: hidden;
      background: var(--accents-2);
      font-size: 0;

      .backdrop {
        height: 350px;
        width: 642px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -0.5 * 350px;
        margin-left: -0.5 * 642px;
      }

      .blurred {
        filter: blur(50px);
        transform: scale(110%);
      }
    }

    .avatar {
      flex: none;
      width: 350px;
      height: 350px;
      margin-right: 8px;
      position: relative;
      border-radius: 8px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      overflow: hidden;
      text-align: center;

      .actions {
        position: absolute;
        bottom: 8px;
        right: 8px;

        button {
          @include icon-button.size(32px);
          background: var(--primary);
          color: var(--on-primary);
          border-radius: 50%;
          font-size: 18px;
          margin: 0 4px;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          @include elevation.elevation(2);
          transition: elevation.transition-value();
          will-change: elevation.$property;

          &:hover,
          &:focus {
            @include elevation.elevation(4);
          }

          &:active {
            @include elevation.elevation(8);
          }

          &:disabled {
            @include elevation.elevation(0);
          }
        }
      }
    }

    @media (max-width: 600px) {
      .background {
        display: none;
      }

      .avatar {
        border-radius: 8px;
        width: 100%;
      }
    }
  }

  .flex {
    display: flex;
    margin: 48px 0 0;

    .content {
      flex: 1 1 auto;
      margin: 0 48px 48px 0;

      dt {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        height: 16px;
        text-transform: uppercase;
        white-space: nowrap;
        color: var(--on-background);
        margin: 0;
      }

      dd {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.1px;
        color: var(--accents-5);
        margin: 4px 0 24px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .form {
      flex: none;
      width: 40%;
      margin: 0 0 48px;

      form {
        position: sticky;
        top: sizes.$header-height + 24px;
      }
    }

    @media (max-width: 750px) {
      flex-direction: column;
      margin-top: 32px;

      .content {
        margin: 0;
      }

      .form {
        margin-top: 32px;
        width: 100%;
      }
    }
  }
}

.loading {
  .name,
  .socials,
  .header .background,
  .content dd,
  .content dt,
  .form {
    @include loader.loading;
    border-radius: 4px;
  }

  .name {
    width: 300px;
  }

  .socials {
    width: 250px;
  }

  .flex {
    align-items: stretch;

    .content dd {
      height: 24px * 8;
    }
  }
}
