@use 'styles/common';

:global(html:not(.dark)) .card {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.card {
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--accents-2);

  .inputs {
    margin: 16px auto;
    padding: 0 16px;

    .field {
      @include common.field;
    }

    .btn {
      margin-top: 8px;
      width: 100%;
    }

    .error {
      @include common.error;
    }
  }

  .divider {
    @include common.divider;
    margin: 8px 0;
  }
}
