@use 'styles/common';

@include common.card-styles;

.card {
  margin-top: 24px;
  padding: 16px;
}

.field {
  @include common.field;
}

.button {
  width: 100%;
  margin: 8px 0 0;
}

.error {
  @include common.error;
}
