@use 'styles/common';

@include common.card-styles;

.card {
  position: relative;
  margin-top: 24px;

  .inputs {
    margin: 16px auto;
    padding: 0 16px;

    .field {
      @include common.field;
    }

    .btn {
      margin-top: 8px;
      width: 100%;
    }

    .error {
      @include common.error;
    }
  }

  .divider {
    @include common.divider;
    margin: 8px 0;
  }
}
