@use 'styles/typography';
@use 'styles/query-form';
@use 'styles/common';

.wrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-left: 1px solid var(--accents-2);
  box-sizing: border-box;

  @include query-form.core-styles(true);

  .form {
    max-height: 100%;
    overflow: auto;

    h6 {
      @include typography.typography('subtitle2');
      color: var(--accents-6);
      margin: 16px 0 8px;

      &:first-child {
        margin-top: 0;
      }
    }

    .checkbox {
      margin-left: -8px;

      &.first {
        margin-top: 16px;
      }
    }
  }
}
