@use 'styles/typography';
@use 'styles/query-form';
@use 'styles/common';

.wrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-left: 1px solid var(--accents-2);
  box-sizing: border-box;

  @include query-form.core-styles(true);

  .form {
    max-height: 100%;
    overflow: auto;
  }
}
