@use 'sass:map';
@use 'styles/config';
@use 'styles/typography';

.header span,
.description span {
  display: block;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.header span:last-child,
.description span:last-child {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.header,
.description {
  overflow: hidden;
  position: relative;
}

.header {
  margin: 0 0 20px;
  max-width: 520px;
}

.description {
  @include typography.typography('subtitle1');
  color: map.get(config.$colors, 'accents-5');
  margin: 0 0 30px;
}

.wrapper {
  max-width: config.$form-width;
  padding: 0 24px;
  margin: 60px auto;
  box-sizing: border-box;
}

.formWrapper {
  position: relative;
}

.divider {
  list-style: none;
  margin: 8px 0;
}
