@use 'sass:map';
@use 'styles/common';

.wrapper {
  @include common.wrapper;
  margin: 12px auto 48px;

  .card {
    border: 1px solid var(--accents-2);
    border-radius: 4px;
    position: relative;

    .divider {
      @include common.divider;
    }

    .inputs {
      max-width: 600px;
      margin: 32px auto;
      padding: 0 16px;

      @media (max-width: 600px) {
        margin: 0 auto;
        padding: 16px;
      }

      .field {
        @include common.field;

        .label {
          margin-right: 24px;
          padding: 0;

          p {
            margin: 4px 0;

            &:first-child {
              margin-top: 0;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }

          .header,
          b {
            font-weight: 600;
          }
        }
      }

      .btn {
        margin: 8px 0 0;
        width: 100%;
      }

      .error {
        color: var(--error);
        font-weight: 450;
        margin-top: 16px;
      }
    }
  }
}
