$font-path: './fonts';
$fa-version: '4.7.0';

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$font-path}/fa/fontawesome-webfont.eot?v=#{$fa-version}');
  src: url('#{$font-path}/fa/fontawesome-webfont.eot?#iefix&v=#{$fa-version}')
      format('embedded-opentype'),
    url('#{$font-path}/fa/fontawesome-webfont.woff2?v=#{$fa-version}')
      format('woff2'),
    url('#{$font-path}/fa/fontawesome-webfont.woff?v=#{$fa-version}')
      format('woff'),
    url('#{$font-path}/fa/fontawesome-webfont.ttf?v=#{$fa-version}')
      format('truetype'),
    url('#{$font-path}/fa/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}
