@use 'sass:map';
@use 'config';

@use '@material/theme' with (
  $primary: map.get(config.$colors, 'primary'),
  $secondary: map.get(config.$colors, 'secondary'),
);

@use 'typography';

@use '@material/switch/mdc-switch';
@use '@material/textfield/mdc-text-field';
@use '@material/select/mdc-select';
@use '@material/button/mdc-button';
@use '@material/card/mdc-card';
@use '@material/menu/mdc-menu';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/checkbox/mdc-checkbox';
@use '@material/list/mdc-list';
@use '@material/chips/mdc-chips';
@use '@material/data-table/mdc-data-table';
@use '@material/layout-grid/mdc-layout-grid';
@use '@material/dialog/mdc-dialog';
@use '@material/form-field/mdc-form-field';
@use '@material/tab-bar/mdc-tab-bar';
@use '@material/tab-scroller/mdc-tab-scroller';
@use '@material/tab-indicator/mdc-tab-indicator';
@use '@material/tab/mdc-tab';
@use '@material/icon-button/mdc-icon-button';
@use '@material/ripple/mdc-ripple';
@use '@material/snackbar/mdc-snackbar';

@use '@rmwc/tooltip/tooltip';

@include typography.core-styles;
@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'fonts';
@import 'nprogress';

body {
  margin: 0;
  padding: 0;
  outline: 0;
  overflow-x: hidden;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-bottom: 0.5em;
}

ul {
  @include typography.typography('body1');
}

::selection {
  background-color: map.get(config.$colors, 'selection');
  color: map.get(config.$colors, 'foreground');
}
