@use 'sass:map';

$font-weight-values: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900,
);

@use '@material/typography' with (
  $font-family: unquote('Poppins, sans-serif'),
  $styles-button: (
    font-size: 1.05rem,
    font-weight: map.get($font-weight-values, bold),
    letter-spacing: 0.0125rem,
    text-transform: none,
  ),
  $styles-headline1: (
    font-weight: map.get($font-weight-values, bold),
  ),
  $styles-headline2: (
    font-size: 3.5rem,
    font-weight: map.get($font-weight-values, bold),
    letter-spacing: -0.125rem,
  ),
  $styles-headline3: (
    font-weight: map.get($font-weight-values, bold),
  ),
  $styles-headline4: (
    font-weight: map.get($font-weight-values, bold),
  ),
);
@use '@material/textfield/mdc-text-field';
@use '@material/select/mdc-select';
@use '@material/button/mdc-button';
@use '@material/card/mdc-card';
@use '@material/menu/mdc-menu';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/checkbox/mdc-checkbox';
@use '@material/list/mdc-list';
@use '@material/chips/mdc-chips';
@use '@material/data-table/mdc-data-table';
@use '@material/layout-grid/mdc-layout-grid';
@use '@material/dialog/mdc-dialog';
@use '@material/form-field/mdc-form-field';
@use '@rmwc/avatar/avatar';
@use '@rmwc/tooltip/tooltip';

@include typography.core-styles;
@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  padding: 0;
  outline: 0;
  overflow-x: hidden;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-bottom: 0.5em;
}

ul {
  @include typography.typography('body1');
}
