@use 'sass:map';
@use 'config';

@use '@material/theme' with (
  $primary: rgb(0, 112, 243),
  $secondary: rgb(0, 112, 243),
  $background: rgb(250, 250, 250),
);
@use '@material/typography' with (
  $font-family: config.$font-family,
  $styles-headline1: (
    font-family: unquote("Inter"),
    letter-spacing: normal,
    font-weight: bold,
    font-size: 93px,
  ),
  $styles-headline2: (
    font-family: unquote("Inter"),
    letter-spacing: normal,
    font-weight: bold,
    font-size: 58px,
  ),
  $styles-headline3: (
    font-family: unquote("Inter"),
    letter-spacing: normal,
    font-weight: bold,
    font-size: 47px,
  ),
  $styles-headline4: (
    font-family: unquote("Inter"),
    letter-spacing: normal,
    font-size: 33px,
  ),
  $styles-headline5: (
    font-family: unquote("Inter"),
    letter-spacing: normal,
    font-size: 23px,
  ),
  $styles-headline6: (
    font-family: unquote("Inter"),
    letter-spacing: normal,
    font-size: 19px,
  ),
  $styles-body1: (
    font-family: unquote("Inter"),
    letter-spacing: normal,
    font-size: 16px,
  ),
  $styles-body2: (
    font-family: unquote("Inter"),
    letter-spacing: normal,
    font-size: 14px,
  ),
  $styles-subtitle1: (
    font-family: unquote("Inter"),
    letter-spacing: normal,
    font-size: 16px,
  ),
  $styles-subtitle2: (
    font-family: unquote("Inter"),
    letter-spacing: normal,
    font-size: 14px,
  ),
  $styles-button: (
    font-family: unquote("Inter"),
    letter-spacing: normal,
    text-transform: none,
    font-size: 16px,
  ),
  $styles-overline: (
    font-family: unquote("Inter"),
    font-size: 10px,
  ),
  $styles-caption: (
    font-family: unquote("Inter"),
    font-size: 12px,
  ),
);
@use '@material/textfield/mdc-text-field';
@use '@material/select/mdc-select';
@use '@material/button/mdc-button';
@use '@material/card/mdc-card';
@use '@material/menu/mdc-menu';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/checkbox/mdc-checkbox';
@use '@material/list/mdc-list';
@use '@material/chips/mdc-chips';
@use '@material/data-table/mdc-data-table';
@use '@material/layout-grid/mdc-layout-grid';
@use '@material/dialog/mdc-dialog';
@use '@material/form-field/mdc-form-field';
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use '@rmwc/avatar/avatar';
@use '@rmwc/tooltip/tooltip';

@include typography.core-styles;
@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  padding: 0;
  outline: 0;
  overflow-x: hidden;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-bottom: 0.5em;
}

ul {
  @include typography.typography('body1');
}
