@use 'sass:map';
@use 'sass:color';
@use 'styles/typography';

$cell-width: 100px;
$border: var(--accents-2);

.textField {
  width: 100%;
}

.menuSurface {
  max-width: min(#{var(--page-width-with-margin)}, calc(-32px + 100vw));
  overflow: hidden;
  display: flex;
  visibility: hidden;
  flex-direction: column;

  &:global(.mdc-menu-surface--animating-open),
  &:global(.mdc-menu-surface--animating-closed),
  &:global(.mdc-menu-surface--open) {
    visibility: visible;
  }
}

.headerWrapper {
  flex: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.headers {
  flex: none;
  display: flex;

  .space {
    min-width: $cell-width / 2 + 9px;
    flex: none;
  }

  .titleWrapper {
    width: $cell-width + 1px;
    min-width: $cell-width + 1px;
    flex: 1 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;

    .titleContent {
      margin: 0;
      text-align: center;
      width: 100%;

      .day {
        @include typography.typography('body2');
        font-weight: 500;
        line-height: 32px;
        margin-top: 8px;
      }
    }
  }

  .scroller {
    overflow: scroll;
    visibility: hidden;
    flex: none;
  }
}

.headerCells {
  height: 8px;
  display: flex;
  flex: none;

  .space {
    width: $cell-width / 2 + 9px;
    flex: none;
  }

  .headerCell {
    width: $cell-width + 1px;
    min-width: $cell-width + 1px;
    flex: 1 0 auto;
    border-right: $border 1px solid;

    &:last-child {
      border-right: white 1px solid;
    }
  }

  .scroller {
    overflow: scroll;
    visibility: hidden;
    flex: none;
  }
}

.gridWrapper {
  position: relative;
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: calc(48px * 8 + 24px);

  .grid {
    display: flex;
    overflow: hidden;
    align-items: stretch;
    flex: 1 1 auto;

    &::before {
      box-shadow: inset 0 1px 1px 0 rgba(var(--on-background-rgb), 0.14),
        inset 0 2px 1px -1px rgba(var(--on-background-rgb), 0.12);
      content: '';
      height: 4px;
      position: absolute;
      width: calc(100% - 16px);
      z-index: 505;
    }

    &::after {
      background-image: linear-gradient(
        to left,
        var(--background),
        rgba(var(--background-rgb), 0)
      );
      content: '';
      height: 2px;
      position: absolute;
      right: 16px;
      width: $cell-width;
      z-index: 505;
    }

    .timesWrapper {
      overflow-y: hidden;
      flex: none;
      display: flex;
      align-items: flex-start;
      min-width: $cell-width / 2;
      height: auto;

      &::before {
        background-image: linear-gradient(
          to right,
          var(--background),
          rgba(var(--background-rgb), 0)
        );
        content: '';
        height: 2px;
        position: absolute;
        width: $cell-width;
        z-index: 505;
      }

      .times {
        position: relative;
        background-color: var(--background);
        box-sizing: border-box;
        margin-left: auto;

        .timeWrapper {
          position: relative;
          height: 48px;
          padding-right: 8px;
          text-align: right;

          .timeLabel {
            display: block;
            position: relative;
            top: -6px;
            color: var(--accents-5);
            font-size: 10px;
            font-family: var(--font-sans);
          }

          &:first-child .timeLabel {
            display: none;
          }
        }
      }
    }

    .rowsWrapper {
      overflow-y: scroll;
      overflow-x: auto;
      display: flex;
      align-items: flex-start;
      flex: 1 1 auto;

      .rows {
        flex: none;
        display: flex;
        min-width: 100%;
        overflow: hidden;
        position: relative;

        .lines {
          border-top: $border 1px solid;

          .line {
            height: 48px;

            &::after {
              content: '';
              border-bottom: $border 1px solid;
              position: absolute;
              width: 100%;
              margin-top: -1px;
              z-index: 3;
              pointer-events: none;
            }

            &:first-child::after {
              content: none;
            }
          }
        }

        .space {
          width: 8px;
          border-right: $border 1px solid;
        }

        .cells {
          display: flex;
          flex: 1 1 auto;
          box-sizing: border-box;
          position: relative;

          &.checkered {
            $dark-strip: var(--accents-2);
            $light-strip: var(--accents-1);
            background: repeating-linear-gradient(
              45deg,
              $light-strip,
              $light-strip 10px,
              $dark-strip 10px,
              $dark-strip 20px
            );
          }

          .cell {
            width: $cell-width + 1px;
            min-width: $cell-width + 1px;
            flex: 1 0 auto;
            border-right: $border 1px solid;

            &:last-child {
              border-right: white 1px solid;
            }
          }
        }
      }
    }
  }
}
