@use 'sass:map';
@use 'styles/common';
@use 'styles/loader';
@use 'styles/socials';
@use 'styles/typography';

@include common.card-styles;

.content {
  @include common.wrapper(var(--form-width-with-margin));
  display: flex;
  padding: 48px 24px;

  $cutoff: 570px;

  @media (max-width: $cutoff) {
    flex-direction: column;
  }

  .left {
    flex: 1 1 auto;
    margin-right: 24px;

    @media (max-width: $cutoff) {
      margin-right: 0;
      margin-bottom: 24px;
    }

    .wrapper {
      display: flex;
      align-items: center;

      .img {
        display: block;
        min-width: 120px;
        margin-right: 16px;
      }

      .name {
        @include typography.typography('headline4');
        color: var(--on-background);
        line-height: 2.2rem;
        margin: 0 0 8px;
      }

      .socials {
        height: 28px;
      }

      @include socials.core-styles;
    }

    .header {
      @include typography.typography('headline6');
      color: var(--on-background);
      font-weight: 600;
      margin: 24px 0 0;
    }

    .body {
      @include typography.typography('body1');
      color: var(--accents-5);
      white-space: pre-wrap;
      margin: 0 0 8px;
    }
  }

  .right {
    flex: 0;

    .actions {
      position: sticky;
      top: calc(var(--header-height) + 24px);

      .card {
        padding: 16px;
        margin-bottom: 24px;

        a {
          display: block;
          margin-top: 16px;
          text-decoration: none;

          &:first-child {
            margin-top: 0;
          }
        }

        .btn {
          width: 100%;
        }
      }
    }
  }
}

.background {
  height: 45vh;
  margin-top: calc(-1 * var(--header-height));
  background: var(--accents-2);
  position: relative;
  font-size: 0;

  img {
    @include typography.typography('subtitle1');
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.loading {
  .background {
    @include loader.loading;
  }

  .name,
  .socials,
  .header,
  .body {
    @include loader.loading;
    border-radius: 4px;
  }

  .name {
    height: 2.2rem;
    width: 200px;
  }

  .socials {
    width: 200px;
  }

  .header {
    height: 32px;
    margin-bottom: 8px !important;
  }

  .body {
    height: 100px;
  }
}
