@use 'styles/common';
@use 'styles/typography';

@include common.card-styles;

.wrapper {
  @include common.wrapper;
  text-align: center;
}

.hero {
  padding: 72px 0;

  @media (max-width: 800px) {
    padding: 48px 0;
  }
}

.content {
  display: inline-block;
  padding-bottom: 48px;

  h1 {
    max-width: 750px;
  }

  h3 {
    @include typography.typography('body1');
    color: var(--accents-5);
    margin: 12px 0 0;
  }

  @media (max-width: 800px) {
    padding-bottom: 24px;
  }
}
