@use 'styles/query-form';

@include query-form.core-styles;

.btn {
  min-width: 230px !important;
}

.btn:first-of-type {
  margin: 0 8px;

  @media screen and (max-width: 768px) {
    margin: 8px 0;
  }
}
