@use 'sass:map';
@use 'styles/typography';

.empty {
  @include typography.typography('body1');
  border: 1px dashed var(--accents-2);
  border-radius: 4px;
  color: var(--accents-3);
  font-size: 14px;
  position: relative;
  line-height: 24px;
  min-height: 500px;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
