@use 'sass:map';
@use 'styles/config';
@use 'styles/typography';

.empty {
  @include typography.typography('body1');
  border: 1px dashed map.get(config.$colors, 'accents-2');
  border-radius: 4px;
  color: map.get(config.$colors, 'accents-3');
  font-size: 14px;
  margin: 0;
  padding: 250px 0;
  position: relative;
  text-align: center;
  line-height: 24px;
}
