@use 'sass:map';
@use 'styles/config';
@use '@material/card/_index.scss' as card;
@use '@material/elevation';

.form {
  padding: 16px;
}

.formCard {
  @include card.outline(map.get(config.$colors, 'accents-2'), 1px);
  @include elevation.elevation(0);
  transition: elevation.transition-value(),
    border elevation.$transition-duration elevation.$transition-timing-function;
  will-change: elevation.$property, border;
  margin: 16px 0;
}

.formCard:hover {
  @include card.outline(map.get(config.$colors, 'background'), 1px);
  @include elevation.elevation(8);
}

.formSubmitButton {
  margin-top: 16px;
  width: 100%;
}
