@use 'sass:map';
@use '@tutorbook/styles/config';
@use '@tutorbook/styles/typography';
@use '@material/card/_index.scss' as card;
@use '@material/elevation';

.switchAccountHeader {
  @include typography.typography('headline5');
  margin: 0 0 16px;
}

.switchAccountBody {
  @include typography.typography('subtitle1');
  color: map.get(config.$colors, 'accents-5');
  margin: 0;
}

.switchAccountWrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 32px 0;
  max-width: 350px;
  margin: auto;
}

.header span,
.description span {
  display: block;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.header span:last-child,
.description span:last-child {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.header,
.description {
  overflow: hidden;
  position: relative;
}

.header {
  margin: 0 0 20px;
  max-width: 520px;
}

.description {
  @include typography.typography('subtitle1');
  color: map.get(config.$colors, 'accents-5');
  margin: 0 0 30px;
}

.form {
  padding: 16px;
}

.formCard {
  @include card.outline(map.get(config.$colors, 'accents-2'), 1px);
  @include elevation.elevation(0);
  transition: elevation.transition-value(),
    border elevation.$transition-duration elevation.$transition-timing-function;
  will-change: elevation.$property, border;
  margin: 16px 0;
}

.formCard:hover {
  @include card.outline(map.get(config.$colors, 'background'), 1px);
  @include elevation.elevation(8);
}

.formField {
  margin: 8px 0;
  width: 100% !important;
  display: inline-flex;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  :global(.mdc-select__anchor) {
    width: 100%;
  }

  &:not(:global(.mdc-menu-surface--anchor)) textarea {
    min-height: 47px;
  }

  textarea {
    resize: vertical;
  }
}

.formSubmitButton {
  margin-top: 16px;
  width: 100%;
}

.wrapper {
  max-width: config.$form-width;
  padding: 0 24px;
  margin: 60px auto;
  box-sizing: border-box;
}

.toggle {
  height: 4.8rem;
}

.formWrapper {
  position: relative;
}

.divider {
  list-style: none;
  margin: 8px 0;
}
