rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents/partitions/{partition} {
    match /users/{user} {
      allow read: if request.auth.uid == user;
    }
  }
}
