@use 'styles/typography';

.surface {
  width: 500px;

  &.noResults {
    width: 300px;

    .noResultsContent {
      @include typography.typography('body1');
      text-align: center;
      padding: 50px 0;
    }
  }
}

.field {
  min-height: 56px;
  height: auto;
  width: 100%;

  :global(.mdc-floating-label--float-above) {
    transform: translateY(-130%) scale(0.75);
  }

  :global(.mdc-floating-label) {
    top: 27px;
  }

  input {
    resize: none;
  }

  &.hidden input {
    display: none;
  }

  .valueDisplay {
    padding: 18px 16px 16px;
    border: none;
  }
}
