@use 'styles/typography';
@use 'styles/loader';

$margin: 18px;
$image-size: 85px;

.result {
  border-bottom: 1px solid var(--accents-2);
  display: flex;
  padding: $margin;
  cursor: pointer;
  width: 100%;

  &:last-child {
    border-bottom: none;
  }

  &.loading {
    cursor: wait;

    .name,
    dd {
      @include loader.loading();
      border-radius: 4px;
    }

    dl:first-child {
      margin-bottom: 8px !important;
    }

    .name {
      height: 20px + 1px + 12px !important;
    }

    .subjects {
      height: 20px + 2px + 12px + 5px !important;
    }

    .message {
      height: 20px * 3 + 2px + 12px + 5px !important;
    }

    .roles,
    dt {
      display: none;
    }
  }

  .person {
    @include typography.typography('body1');
    text-decoration: none;
    display: block;
    margin-right: 10px;
    outline: none;
    border: none;
    flex: none;

    .avatar {
      width: $image-size;
      height: $image-size;
      text-decoration: none;
      display: block;
      outline: none;
    }

    .name {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      height: 20px;
      color: var(--on-background);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin: 8px 0 0;
      width: $image-size;
    }

    .roles {
      font-size: 10px;
      font-weight: 500;
      line-height: 12px;
      height: 12px;
      color: var(--accents-5);
      text-transform: uppercase;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin: 1px 0 0;
      width: $image-size;
    }
  }

  .info {
    flex: 1 1 auto;
    overflow: hidden;
    margin-left: $margin - 10px;

    dl {
      margin: 0;

      &:first-child {
        margin-bottom: $margin;
      }
    }

    dt {
      font-size: 10px;
      font-weight: 500;
      line-height: 12px;
      height: 12px;
      color: var(--accents-5);
      text-transform: uppercase;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin: 0 0 2px;
    }

    dd {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: var(--on-background);
      margin: 0;

      &.subjects {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        height: 20px;
      }

      &.message {
        overflow: hidden;
        height: 20px * 3;
      }
    }
  }
}
