@use '@material/elevation';

.meeting {
  transition: elevation.transition-value();
  will-change: elevation.$property;
  background: var(--background);
  border-radius: 2px;
  z-index: 1;

  &.elevated {
    @include elevation.elevation(8);
  }

  &.past .wrapper {
    background: var(--primary-5);
  }
}
