@use '@tutorbook/covid-fonts' as fonts;

.formWrapper {
  text-align: center;
}

.formContent {
  display: inline-block;
  width: calc(100% - 32px);
  max-width: 700px;
}

.formTitle {
  font-family: fonts.$title;
  font-weight: fonts.$bold;
  font-size: 3.5rem;
  color: fonts.$primary; // TODO: Use SCSS variables from '@tutorbook/covid-styles'
  padding: 0 16px;
}

.formDescription {
  font-family: fonts.$body;
  font-weight: fonts.$regular;
  font-size: 1rem;
  color: fonts.$secondary;
  padding: 0 16px;
}

.form {
  padding: 16px;
  margin: 24px 0;
}

.formField {
  margin: 8px 0;
}

.formField:first-child {
  margin-top: 0;
}

.formField:last-child {
  margin-bottom: 0;
}

.formSubmitButton {
  margin-top: 8px;
}
