footer.footer {
  background: var(--accents-1);
  border-top: 1px solid var(--accents-2);
  padding: calc(1.5 * var(--gap)) var(--gap) var(--gap);

  nav {
    max-width: var(--page-width);
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  section {
    max-width: var(--page-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--gap) 0;
  }

  &.formWidth nav,
  &.formWidth section {
    max-width: var(--form-width);
  }

  span {
    color: var(--accents-5);
    font-size: 14px;
  }

  @media (max-width: 960px) {
    nav {
      flex-direction: column;
    }

    section {
      flex-direction: column;
      justify-content: center;
    }

    span {
      margin-bottom: var(--gap);
    }
  }
}
