@use 'sass:map';
@use 'styles/config';
@use '@material/elevation';

.form {
  @include elevation.elevation(0);
  transition: 200ms box-shadow ease-in-out, 200ms width ease-in-out,
    200ms margin-left ease-in-out;
  border-radius: 4px;
  visibility: hidden;
  display: none;
  position: sticky;
  z-index: 3;
  top: config.$nav-height + 12px;
  margin-bottom: 24px;
  width: 100%;
}

.elevated {
  @include elevation.elevation(8);
  width: calc(100% + 24px);
  margin-left: -12px;
}

@media only screen and (max-width: 800px) {
  .form {
    visibility: visible;
    display: block;
  }
}
