@use 'styles/common';
@use 'styles/calendar';
@use 'styles/typography';

$times-width: 40px;
$cell-width: 100px;
$border-color: var(--accents-2);

.cell {
  padding-right: 10px;

  .event {
    background: var(--primary);
    color: var(--on-primary);
    border-radius: 2px;
    position: absolute;
    font-size: 12px;
    line-height: 15px;
    padding: 4px 0 4px 8px;

    .subjects {
      font-weight: 600;
    }

    .time {
      font-size: 10px;
      letter-spacing: 0.05px;
    }
  }
}

.loader {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  z-index: 2;
}

.calendar {
  @include common.wrapper;
  padding: 12px 24px 0;
}

.headerWrapper {
  @include calendar.header-wrapper($times-width);
}

.headers {
  @include calendar.headers($times-width, $cell-width) {
    h2 {
      margin: 0;
      text-align: center;
      width: 100%;

      .weekday {
        line-height: 32px;
        position: relative;
        color: var(--accents-5);
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 0.8px;
        margin-left: 0;
        margin-top: 8px;
        text-indent: 0.8px;
        text-transform: uppercase;
      }

      .date {
        color: var(--accents-6);
        position: relative;
        font-size: 26px;
        letter-spacing: -2.6px;
        text-indent: -2.6px;
        font-weight: 400;
        font-variant: tabular-nums;
        font-feature-settings: 'tnum' 1;
        border-radius: 100%;
        line-height: 46px;
        height: 46px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -8px;
        width: 46px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &.today .weekday {
        color: var(--primary);
      }

      &.today .date {
        color: var(--on-primary);
        background: var(--primary);
      }
    }
  }
}

.headerCells {
  @include calendar.header-cells($times-width, $cell-width, $border-color);
}

.gridWrapper {
  @include calendar.grid(
    $times-width,
    $cell-width,
    $border-color,
    $max-height: calc(100vh - var(--header-height) - 86px)
  );
}

.indicator {
  $color: #ea4335;
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;

  .dot {
    background: $color;
    border-radius: 50%;
    content: '';
    position: absolute;
    height: 12px;
    margin-left: -6.5px;
    margin-top: -5px;
    width: 12px;
    left: 0;
    top: 0;
  }

  .line {
    border-top: $color solid 2px;
    pointer-events: none;
    position: absolute;
    right: 0;
    left: 0;
  }
}
