@use 'styles/sizes';
@use 'styles/common';

@use 'config';

.wrapper {
  @include common.wrapper;
  margin: 48px auto 0;

  .content {
    display: flex;
    position: relative;

    // TODO: Add styling for when viewport height exceeds calendar height.
    @media (min-width: sizes.$page-width + 2 * (config.$times-width + 8px)) {
      // There must be at least 48px of margin on each side of the page for the
      // times to show properly. Otherwise, they are outside of the viewport.
      margin-left: -1 * config.$times-width - 8px;
      border-left: none;
      padding-left: 0;
    }
  }
}
