@use 'styles/sizes';
@use 'styles/common';

@use 'config';

.wrapper {
  @include common.wrapper;
  margin: 48px auto 0;

  .content {
    display: flex;
    position: relative;

    @media (min-width: config.$breakpoint) {
      margin-left: -1 * config.$times-width - 8px;
    }
  }
}
