@use 'styles/common';

.form {
  height: 100%;
  overflow: auto;

  .divider {
    @include common.divider;
  }

  .inputs {
    margin: 24px auto;
    padding: 0 24px;
    display: flex;
    flex-direction: column;

    .field {
      @include common.field;
    }

    .btn {
      margin: 8px 0 0;
      width: 100%;
    }

    .error {
      @include common.error;
    }
  }
}
