@use 'styles/typography';
@use 'styles/query-form';
@use 'styles/common';
@use 'styles/sizes';

@use 'config';

.wrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-left: 1px solid var(--accents-2);
  box-sizing: border-box;

  @media (min-width: config.$breakpoint) {
    left: config.$times-width + 8px;
  }

  @include query-form.core-styles(true);

  .content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding: 24px;

    @media (min-width: config.$breakpoint) {
      padding-right: config.$times-width + 8px + 24px;
    }
  }
}
