@use 'styles/typography';

$image-size: 160px;

.wrapper {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  background: var(--background);
  position: absolute;
  border-radius: 8px;
  z-index: 1;
  font-weight: 500;
  width: $image-size * 2 + 16px + 48px;
  opacity: 0;
  will-change: opacity;
  transition: opacity 200ms ease-in-out;

  &.open {
    opacity: 1;
  }
}

.nav {
  padding: 12px;
  border-bottom: 1px solid var(--accents-2);

  .btn {
    font-size: 18px;
    padding: 9px;
    width: 36px;
    height: 36px;
  }
}

.content {
  padding: 0 24px;
  max-height: 500px;
  overflow: auto;
}

.people {
  display: flex;
  margin-top: 24px;

  .person {
    @include typography.typography('body1');
    text-decoration: none;
    display: block;
    margin: 0 8px;
    outline: none;
    border: none;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .avatar {
      width: $image-size;
      height: $image-size;
      text-decoration: none;
      display: block;
      outline: none;
    }

    .name {
      @include typography.typography('headline5');
      color: var(--on-background);
      margin: 16px 0 8px;
      line-height: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: $image-size;
    }

    .roles {
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      height: 14px;
      text-transform: uppercase;
      white-space: nowrap;
      color: var(--accents-5);
      margin-top: 8px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: $image-size;
    }
  }
}

.info {
  flex: 1 1 auto;
  margin-top: 24px;

  dl {
    margin: 0 0 24px;
  }

  dt {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    height: 14px;
    text-transform: uppercase;
    white-space: nowrap;
    color: var(--accents-5);
    margin-bottom: 4px;
  }

  dd {
    font-size: 14px;
    color: var(--on-background);
    font-weight: 500;
    line-height: 24px;
    margin: 0;
  }

  a {
    color: var(--on-background);
    text-decoration: none;
    font-weight: 500;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }
}
