@use 'sass:map';
@use 'styles/typography';
@use '@material/elevation';
@use '@material/icon-button/_index.scss' as icon-button;

.match {
  @include elevation.elevation(4);
  background: var(--primary);
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
  color: white;

  .content {
    @include typography.typography('body2');
    color: var(--on-primary);
    padding: 10px;
    font-size: 12px;
    line-height: 12px;
  }
}
