@use '@material/elevation';

.meeting {
  position: absolute;
  transition: elevation.transition-value();
  will-change: elevation.$property;
  background: var(--background);
  border-radius: 2px;
  cursor: pointer;
  user-select: auto;

  &.elevated {
    @include elevation.elevation(4);
  }

  &.past .wrapper {
    background: var(--primary-5);
  }

  span .bottom,
  span .top {
    position: absolute;
    user-select: none;
    width: 100%;
    height: 10px;
    left: 0px;
    cursor: row-resize;
  }

  span .bottom {
    bottom: -5px;
  }

  span .top {
    top: -5px;
  }
}
