@use 'sass:map';
@use 'styles/typography';
@use '@material/elevation';

.meeting {
  @include elevation.elevation(4);
  background: var(--primary);
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
  color: white;

  .content {
    @include typography.typography('body2');
    color: var(--on-primary);
    padding: 8px;
    line-height: 12px;

    .subjects {
      font-weight: 600;
      font-size: 12px;
    }

    .time {
      font-size: 10px;
    }
  }
}
