@use 'sass:map';
@use '@material/elevation';

.meeting {
  transition: elevation.transition-value();
  will-change: elevation.$property;
  background: var(--primary);
  border-radius: 2px;
  z-index: 1;

  &.elevated {
    @include elevation.elevation(4);
  }

  .wrapper {
    height: 100%;
    width: 100%;

    .content {
      color: var(--on-primary);
      padding: 4px 0 4px 8px;
      line-height: 15px;

      .header {
        overflow: hidden;
        line-height: 15px;
        font-size: 12px;
        word-wrap: break-word;

        .subjects {
          font-weight: 600;
          letter-spacing: 0.1px;
        }
      }

      .time {
        font-weight: 400;
        font-size: 10px;
        letter-spacing: 0.05px;
      }
    }
  }
}
