@use 'sass:map';
@use 'styles/config';
@use 'styles/socials';
@use 'styles/typography';

$cutoff: 570px;
$padding: 40px;
$margin: 24px;

.wrapper {
  max-height: calc(100vh - 32px);
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  .nav {
    padding: 16px;
    border-bottom: 1px solid map.get(config.$colors, 'accents-2');
    flex: none;

    .btn {
      font-size: 18px;
      padding: 9px;
      width: 36px;
      height: 36px;
    }
  }

  .actions {
    border-top: 1px solid map.get(config.$colors, 'accents-2');
    overflow: auto;
    display: flex;
    justify-content: flex-end;
    flex: none;

    .chips {
      padding: 16px 0;
      flex-wrap: nowrap;
      display: inline-flex;

      :global(.mdc-chip:first-child) {
        margin-left: 16px;
      }

      :global(.mdc-chip:last-child) {
        margin-right: 16px;
      }
    }
  }

  .content {
    display: flex;
    padding: $padding;
    position: relative;
    flex: 1 1 auto;

    @media (max-width: $cutoff) {
      flex-direction: column;
      padding: $margin;
    }

    .left {
      flex-grow: 1;
      flex-basis: 0;
      max-width: 260px;

      @media (max-width: $cutoff) {
        margin-bottom: $margin;
        max-width: none;
      }

      .img {
        display: block;
        width: 100%;
      }

      .name {
        @include typography.typography('headline4');
        color: map.get(config.$colors, 'foreground');
        margin: 12px 0 8px;
      }

      @include socials.core-styles;
    }

    .right {
      flex-grow: 1.5;
      flex-basis: 0;
      margin-left: $padding;

      @media (max-width: $cutoff) {
        margin-left: 0;
      }

      .header {
        @include typography.typography('headline6');
        color: map.get(config.$colors, 'foreground');
        font-weight: 600;
        margin: 16px 0 0;

        &:first-child {
          margin: 0;
        }
      }

      .text {
        @include typography.typography('body1');
        color: map.get(config.$colors, 'accents-5');
        margin: 0;
      }
    }
  }
}
