@use 'styles/common';

.form {
  height: 100%;
  overflow: auto;

  .divider {
    @include common.divider;
  }

  .inputs {
    max-width: 500px;
    margin: 32px auto;
    padding: 0 48px;

    .field {
      @include common.field;
    }

    .btn {
      margin: 8px 0 0;
      width: 100%;
    }

    .error {
      color: var(--error);
      font-weight: 450;
      margin-top: 16px;
    }
  }
}
