@use 'sass:map';
@use 'styles/common';
@use 'styles/config';

.wrapper {
  max-height: calc(100vh - 32px);
  position: relative;
  display: flex;
  flex-direction: column;

  .nav {
    padding: 16px;
    border-bottom: 1px solid map.get(config.$colors, 'accents-2');

    .btn {
      font-size: 18px;
      padding: 9px;
      width: 36px;
      height: 36px;
    }
  }

  .form {
    height: 100%;
    overflow: auto;

    .divider {
      @include common.divider;
    }

    .inputs {
      max-width: 500px;
      margin: 32px auto;
      padding: 0 48px;

      .field {
        @include common.field;
      }

      .btn {
        margin: 8px 0 0;
        width: 100%;
      }

      .error {
        color: map.get(config.$colors, 'error');
        font-weight: 450;
        margin-top: 16px;
      }
    }
  }
}
