@use 'sass:map';
@use 'styles/config';
@use 'styles/common';

.wrapper {
  max-height: calc(100vh - 32px);
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  .nav {
    padding: 16px;
    border-bottom: 1px solid map.get(config.$colors, 'accents-2');

    .btn {
      font-size: 18px;
      padding: 9px;
      width: 36px;
      height: 36px;
    }
  }

  .content {
    height: 100%;
    padding: 0 48px;
    overflow: auto;

    .display {
      max-width: 500px;
      margin: 32px auto;
      border-radius: 4px;
      pointer-events: none;
    }

    .form {
      max-width: 500px;
      margin: 32px auto;

      .field {
        @include common.field;
      }

      .btn {
        margin: 8px 0 0;
        width: 100%;
      }

      .error {
        color: map.get(config.$colors, 'error');
        font-weight: 450;
        margin-top: 16px;
      }
    }
  }
}
