@use 'styles/common';

.display {
  max-width: 500px;
  margin: 32px auto;
  border-radius: 4px;
  pointer-events: none;
}

.form {
  max-width: 500px;
  margin: 32px auto;

  .field {
    @include common.field;
  }

  .btn {
    margin: 8px 0 0;
    width: 100%;
  }

  .error {
    @include common.error;
  }
}
