.chart {
  margin: 72px 0;

  :global(.recharts-surface) {
    overflow: visible;
  }

  :global(.recharts-cartesian-grid) line {
    // Ensure that our 1px lines actually stay 1px (to match other borders).
    // @see {@link https://stackoverflow.com/a/34229584/10023158}
    shape-rendering: crispedges;
  }

  :global(.recharts-cartesian-grid-horizontal) line:first-child {
    stroke-dasharray: none;
  }

  .tooltip {
    padding: 24px;
    background: var(--background);
    box-shadow: var(--shadow-large);
    border-radius: 4px;

    .header {
      font-size: 14px;
      line-height: 14px;
      color: var(--accents-5);
      text-transform: uppercase;
      font-weight: 500;
      margin: 0 0 8px;
    }

    table {
      font-size: 16px;
      border-spacing: 0;
      border-collapse: collapse;

      td:first-child {
        padding-right: 4px;
      }

      .volunteers td {
        color: var(--analytics-volunteers);
      }

      .students td {
        color: var(--analytics-students);
      }
    }
  }
}
