@use 'sass:map';
@use '@tutorbook/styles/config';

.clickArea {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: transparent;
  background: transparent;
  border-radius: 4px;
  border: none;
  margin: 0;
  padding: 0;
}

.helper {
  font-weight: 450;
  margin: -8px 0 8px;
}
