@use 'styles/typography';
@use 'components/user-dialog/user-dialog';

.dialog :global(.mdc-dialog__surface) {
  max-width: 900px;
}

.header {
  @include user-dialog.header;
}

.field {
  @include user-dialog.field;
}

.button {
  @include user-dialog.button;
}

.error {
  @include user-dialog.error;
}

.table {
  width: 100%;

  td {
    padding-top: 0;
    padding-bottom: 0;

    .textField {
      vertical-align: middle;
      background-color: transparent;
      margin: -0.75rem -1rem;
      border-radius: 0;
      display: block;
      min-width: 150px;
      height: 100%;

      :global(.mdc-line-ripple::before) {
        border-bottom-width: 0;
      }

      input {
        @include typography.typography('body2');
      }
    }
  }
}

.switch {
  margin: 16px;

  label {
    margin-left: 16px;
  }
}
