@use 'sass:map';
@use 'styles/common';
@use 'styles/config';

.card {
  border: 1px solid map.get(config.$colors, 'accents-2');
  border-radius: 4px;
  position: relative;

  .divider {
    @include common.divider;
  }

  .inputs {
    max-width: 500px;
    margin: 32px auto;
    padding: 0 48px;

    .field {
      @include common.field;
    }

    .btn {
      margin: 8px 0 0;
      width: 100%;
    }

    .error {
      color: map.get(config.$colors, 'error');
      font-weight: 450;
      margin-top: 16px;
    }
  }
}
