@use 'styles/common';

.wrapper {
  @include common.wrapper;
  margin: 48px auto;
  display: flex;

  .left {
    flex: 0 0 auto;
    margin-right: 96px;
  }

  .right {
    flex: 1 1 auto;
    box-sizing: border-box;
  }
}
