@use 'sass:map';
@use 'styles/query-form';
@use 'styles/config';

.wrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-left: 1px solid map.get(config.$colors, 'accents-2');
  box-sizing: border-box;

  @include query-form.core-styles(true);

  .content {
    overflow: auto;
    height: 100%;
  }
}
