@use 'sass:map';
@use 'styles/typography';
@use 'styles/loader';
@use '@material/chips/_index.scss' as chips;
@use '@material/elevation';

$height: 165px;
$space: 20px;

@mixin background {
  position: relative;
  pointer-events: auto;
  box-sizing: border-box;
  display: grid;
  background: var(--geist-primary);
}

@mixin foreground {
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: grid;
  font-size: 3em;
  font-weight: 600;
  transition: box-shadow 0.75s;
  background: var(--geist-background);
  grid-column: 1;
  grid-row: 1;
  @include elevation.elevation(12);
}

.item {
  @include background;
  overflow: hidden;
  align-items: center;

  .checkmark {
    color: white;
    padding: 12px;
    grid-column: 1;
    grid-row: 1;
  }

  .display {
    @include foreground;
    padding: $space;
    display: flex;
    max-height: $height;
    flex-direction: column;
    box-sizing: border-box;
    border-top: 1px solid var(--accents-2);

    .img {
      flex: none;
      width: $height - ($space * 2);
    }

    .name {
      @include typography.typography('body1');
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--geist-foreground);
      height: 24px;
      flex: none;
      width: 100%;
    }

    .bio {
      @include typography.typography('body2');
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--accents-5);
      flex: 1 1 auto;
      width: 100%;
    }

    .subjectsScroller {
      overflow: hidden;
      position: relative;
      margin-top: 8px;
      height: 30px;
      flex: none;

      .subjects {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        flex-wrap: nowrap;
        display: inline-flex;

        .subject {
          @include chips.height(22px);

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  &:first-child .display {
    border-top: none;
  }

  &.disabled .display {
    cursor: not-allowed;
  }

  &.loading {
    .img,
    .name,
    .bio {
      @include loader.loading();
      border-radius: 4px;
    }

    .bio {
      margin-top: $space;
      min-height: 60px;
    }

    .subjectsScroller {
      display: none;
    }
  }
}
