@use 'sass:map';
@use 'styles/config';

.wrapper {
  flex: 1 1 auto;

  .empty {
    margin: 0;
    padding: 24px;
    border-left: 1px solid map.get(config.$colors, 'accents-2');
    border-right: 1px solid map.get(config.$colors, 'accents-2');
    flex: 1 1 auto;
  }

  .item {
    border-radius: 0;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
