@use 'styles/typography';

$filters-height: 56px;

.filters {
  height: $filters-height;
  border: 1px solid var(--on-background-2);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: space-between;

  .right {
    display: flex;
    align-items: center;

    .searchField {
      $margin: 10px;
      height: $filters-height - $margin * 2;
      margin-right: $margin;

      &:not(:global(.mdc-text-field--focused)):not(:global(.mdc-text-field--invalid)) {
        :global(.mdc-notched-outline__leading),
        :global(.mdc-notched-outline__notch),
        :global(.mdc-notched-outline__trailing) {
          border-color: var(--on-background-2);
        }
      }

      input {
        @include typography.typography('body2');
      }
    }
  }
}

.table {
  width: 100%;
  border-radius: 0;
  border-bottom: none;
  border-top: none;

  :global(.mdc-data-table__row) {
    cursor: pointer;

    &.loading {
      cursor: wait;
    }
  }

  :global(.mdc-data-table__cell),
  :global(.mdc-data-table__header-cell) {
    padding: 0 16px;

    > :global(.mdc-menu-surface--anchor) {
      margin: -12px -16px;
      height: 100%;

      :global(.mdc-text-field) {
        background-color: transparent;
        padding: 10.5px 16px;
        border-radius: 0;
        flex-wrap: nowrap;
        height: 100%;

        :global(.mdc-text-field__ripple::before),
        :global(.mdc-text-field__ripple::after) {
          content: '';
        }

        :global(.mdc-line-ripple::before) {
          border-bottom-width: 0;
        }

        span,
        input,
        textarea {
          @include typography.typography('body2');
        }
      }
    }

    > :global(.mdc-text-field) {
      vertical-align: middle;
      background-color: transparent;
      margin: -12px -16px;
      border-radius: 0;
      display: block;
      height: 100%;

      :global(.mdc-line-ripple::before) {
        border-bottom-width: 0;
      }

      input {
        @include typography.typography('body2');
      }
    }

    > :global(.mdc-switch) {
      vertical-align: middle;
      margin-left: 0.5rem;
    }

    > :global(.mdc-select .mdc-select__selected-text) {
      @include typography.typography('body2');
    }

    &.visible,
    &.vetted {
      padding-right: 0;
    }

    &.people {
      min-width: 400px;
    }

    &.subjects {
      min-width: 150px;
    }

    &.message {
      min-width: 500px;
    }
  }
}

.wrapper {
  padding: 0 24px;
  max-width: var(--page-width-with-margin);
  margin: 48px auto;
}

.empty {
  margin: 0;
  padding: 24px;
  border: 1px solid var(--on-background-2);
  border-bottom: none;
}
