@use 'styles/common';
@use 'styles/typography';

.features {
  border-top: 1px solid var(--accents-2);
  border-bottom: 1px solid var(--accents-2);
  background: var(--accents-1);
  text-align: center;

  .wrapper {
    @include common.wrapper;

    .tabs {
      margin-top: 24px;
      display: inline-block;
    }

    .placeholder {
      width: 100%;
      height: 600px;
      background: white;
      display: inline-block;
      border: 1px solid var(--accents-2);
    }

    .orgs {
      $margin-top: 8px;
      padding: 48px - $margin-top * 2;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .org {
        @include typography.typography('body1');
        color: var(--accents-5);
        display: inline-block;
        font-size: 24px;
        margin: $margin-top 16px;
      }
    }
  }
}
