@use 'sass:map';
@use 'styles/config';

@mixin wrapper {
  max-width: config.$default-width;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}

@mixin field {
  margin: 8px 0;
  width: 100%;
  display: inline-flex;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  :global(.mdc-select__anchor) {
    width: 100%;
  }

  &:not(:global(.mdc-menu-surface--anchor)) textarea {
    min-height: 47px;
  }

  textarea {
    resize: vertical;
  }
}

@mixin divider {
  border-top: 1px solid map.get(config.$colors, 'accents-2');
}
