@use 'typography';

@use '@material/theme';
@use '@material/switch/mdc-switch';
@use '@material/textfield/mdc-text-field';
@use '@material/select/mdc-select';
@use '@material/button/mdc-button';
@use '@material/menu/mdc-menu';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/checkbox/mdc-checkbox';
@use '@material/list/mdc-list';
@use '@material/chips/mdc-chips';
@use '@material/data-table/mdc-data-table';
@use '@material/layout-grid/mdc-layout-grid';
@use '@material/dialog/mdc-dialog';
@use '@material/form-field/mdc-form-field';
@use '@material/tab-bar/mdc-tab-bar';
@use '@material/tab-scroller/mdc-tab-scroller';
@use '@material/tab-indicator/mdc-tab-indicator';
@use '@material/tab/mdc-tab';
@use '@material/icon-button/mdc-icon-button';
@use '@material/ripple/mdc-ripple';
@use '@material/snackbar/mdc-snackbar';

@use '@rmwc/tooltip/tooltip';

@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'social-icons';
@import 'spacing';
@import 'theme';

.rmwc-tooltip-inner {
  @include typography.typography('caption');
}

:root {
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

::selection {
  background-color: var(--selection);
  color: var(--on-background);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

html,
body {
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--on-background);
}
