@use 'sass:map';

@mixin loading {
  background-image: linear-gradient(
    270deg,
    var(--accents-1),
    var(--accents-2),
    var(--accents-2),
    var(--accents-1)
  );
  background-size: 400% 100%;
  -webkit-animation: loadingAnimation 8s ease-in-out infinite;
  animation: loadingAnimation 8s ease-in-out infinite;
  cursor: wait;
}

@-webkit-keyframes loadingAnimation {
  0% {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}

@keyframes loadingAnimation {
  0% {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
