@use 'sass:map';
@use 'config';

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#nprogress {
  pointer-events: none;

  .bar {
    z-index: 2000;
    background: map.get(config.$colors, 'primary');
  }

  .bar,
  &:after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
  }

  &:after {
    content: '';
    background: map.get(config.$colors, 'accents-2');
    z-index: 1999;
  }

  .peg {
    box-shadow: 0 0 10px map.get(config.$colors, 'foreground'),
      0 0 5px map.get(config.$colors, 'foreground');
  }

  .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    bottom: 15px;
    right: 15px;
  }

  .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 4px transparent;
    border-top-color: map.get(config.$colors, 'success');
    border-left-color: map.get(config.$colors, 'success');
    border-radius: 50%;

    animation: nprogress-spinner 400ms linear infinite;
  }
}
