@mixin form($vertical: false) {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  @if $vertical {
    flex-direction: column;
  }
}

@mixin field($vertical: false) {
  margin: 0 8px;
  flex-grow: 1.5;
  flex-basis: 0;
  width: 100%;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 768px) {
    margin: 8px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @if $vertical {
    margin: 8px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin button($vertical: false) {
  margin: 0 0 0 8px;
  flex-grow: 0;
  flex-basis: 0;
  min-height: 56px;
  max-height: 56px;
  min-width: 300px;
  width: 100%;

  @media screen and (max-width: 768px) {
    margin: 8px 0 0;
    min-width: 0;
  }

  @if $vertical {
    margin: 8px 0 0;
    min-width: 0;
  }
}

@mixin core-styles($vertical: false) {
  .form {
    @include form($vertical);

    .field {
      @include field($vertical);
    }

    .btn {
      @include button($vertical);
    }
  }
}
