:root {
  --space: 4px;
  --space-2x: 8px;
  --space-4x: 16px;
  --space-8x: 32px;
  --space-16x: 64px;
  --space-32x: 128px;

  --space-small: 32px;
  --space-medium: 40px;
  --space-large: 48px;

  --space-gap: 24px;
  --space-gap-half: 12px;
  --space-gap-quarter: var(--space-2x);

  --gap: var(--space-gap);
  --gap-half: var(--space-gap-half);
  --gap-quarter: var(--space-gap-quarter);
  --gap-double: var(--space-large);

  --space-negative: -4px;
  --space-2x-negative: -8px;
  --space-4x-negative: -16px;
  --space-8x-negative: -32px;
  --space-16x-negative: -64px;
  --space-32x-negative: -128px;

  --space-small-negative: -32px;
  --space-medium-negative: -40px;
  --space-large-negative: -48px;

  --space-gap-negative: -24px;
  --space-gap-half-negative: -12px;
  --space-gap-quarter-negative: var(--space-2x-negative);

  --gap-negative: var(--space-gap-negative);
  --gap-half-negative: var(--space-gap-half-negative);
  --gap-quarter-negative: var(--space-gap-quarter-negative);
  --gap-double-negative: var(--space-large-negative);

  --page-margin: var(--space-gap);
  --page-width: 1000px;
  --page-width-with-margin: 1048px;
  --form-width: 768px;

  --header-height: 64px;
}
