:root {
  --primary: #0070f3;
  --primary-variant: var(--primary);
  --secondary: var(--primary);
  --secondary-variant: var(--primary);
  --background: #fff;
  --surface: #fff;
  --error: #b00020;
  --on-primary: #fff;
  --on-secondary: #000;
  --on-background: #000;
  --on-surface: #000;
  --on-error: #fff;

  --selection: #79ffe1;

  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;

  --header-border-bottom: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  --header-background: rgba(255, 255, 255, 0.8);
  --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
}

.dark {
  --primary: #bb86fc;
  --primary-variant: var(--primary);
  --secondary: var(--primary);
  --secondary-variant: var(--primary);
  --background: #121212;
  --surface: #121212;
  --error: #cf6679;
  --on-primary: #000;
  --on-secondary: #000;
  --on-background: #fff;
  --on-surface: #fff;
  --on-error: #000;

  --selection: #f81ce5;

  --accents-8: #fafafa;
  --accents-7: #eaeaea;
  --accents-6: #999;
  --accents-5: #888;
  --accents-4: #666;
  --accents-3: #444;
  --accents-2: #333;
  --accents-1: #111;

  --header-border-bottom: inset 0 -1px 0 0 hsla(0, 0%, 100%, 0.1);
  --header-background: rgba(18, 18, 18, 0.5);
  --shadow-large: 0 0 0 1px var(--accents-2);
}

:root {
  --mdc-theme-primary: var(--primary);
  --mdc-theme-secondary: var(--secondary);
  --mdc-theme-surface: var(--surface);
  --mdc-theme-background: var(--background);

  --mdc-theme-on-primary: var(--on-primary);
  --mdc-theme-on-secondary: var(--on-secondary);
  --mdc-theme-on-surface: var(--on-surface);
}
