@use 'sass:map';
@use 'config';

@forward '@material/typography' with (
  $font-family: map.get(config.$fonts, 'sans'),
  $styles-headline1: (
    letter-spacing: -0.049375rem,
    font-weight: 700,
  ),
  $styles-headline2: (
    letter-spacing: -0.049375rem,
    font-weight: 700,
  ),
  $styles-headline3: (
    letter-spacing: -0.049375rem,
    font-weight: 700,
  ),
  $styles-headline4: (
    letter-spacing: -0.049375rem,
    font-weight: 700,
  ),
  $styles-headline5: (
    letter-spacing: -0.049375rem,
    font-weight: 700,
  ),
  $styles-headline6: (
    letter-spacing: -0.049375rem,
    font-weight: 700,
  ),
  $styles-body1: (
    letter-spacing: -0.01125rem,
  ),
  $styles-body2: (
    letter-spacing: -0.01125rem,
  ),
  $styles-subtitle1: (
    letter-spacing: -0.01125rem,
  ),
  $styles-subtitle2: (
    letter-spacing: -0.01125rem,
  ),
  $styles-button: (
    letter-spacing: -0.01125rem,
    font-weight: 700,
  ),
  $styles-overline: (
    letter-spacing: -0.01125rem,
  ),
  $styles-caption: (
    letter-spacing: -0.01125rem,
  ),
);
