@use 'sass:map';
@use 'styles/config';
@use 'styles/typography';

.wrapper {
  max-width: config.$default-width;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}

.summary {
  padding: 60px 0 100px;
}

.summary {
  border-top: 1px solid map.get(config.$colors, 'accents-2');
  border-bottom: 1px solid map.get(config.$colors, 'accents-2');
  background: map.get(config.$colors, 'accents-1');
}

.header {
  @include typography.typography('headline1');
}

.subheader {
  @include typography.typography('headline3');
}

.body {
  @include typography.typography('body1');
}

.bold {
  font-weight: 600;
}
