@use '@tutorbook/styles/typography';
@use '@material/elevation';

.title {
  @include typography.typography('headline6');
  margin: 0 0 15px;
  max-width: 600px;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
  margin-left: -2px;
  width: calc(100% + 4px);
}

.left,
.right {
  @include elevation.elevation(4);
  position: absolute;
  border-radius: 100%;
  bottom: calc(50% - 24px);
  background: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

.left {
  left: 12px;
}

.right {
  right: 12px;
}

.scroller {
  white-space: nowrap;
  overflow: visible;
  display: flex;
  margin: 2px;
  transition: 200ms right ease-in-out;
  position: relative;
}

.child {
  display: inline-block;
  margin-right: 24px;
  white-space: normal;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc((100% - 48px) / 3);
}

.child:last-child {
  margin-right: 0;
}
