@use 'sass:map';
@use '@tutorbook/styles/config';
@use '@tutorbook/styles/typography';
@use '@material/elevation';

.card {
  transition: 100ms box-shadow ease-in-out 10ms;
  @include elevation.elevation(1);
}

.card:hover {
  @include elevation.elevation(2);
}

.title {
  @include typography.typography('headline6');
  color: map.get(config.$colors, 'foreground');
  margin: 0;
}

.body {
  @include typography.typography('body1');
  color: map.get(config.$colors, 'accent-5');
  margin: 0;
}

.content {
  padding: 1rem;
  text-align: initial;
}

.media {
  background-image: url(./jpgs/in-home-tutoring.jpg);
}
