@use 'sass:map';
@use '@tutorbook/styles/config';
@use '@tutorbook/styles/typography';

$max-width: 750px;
$padding: 40px;
$margin: 24px;

.dialog :global(.mdc-dialog__surface) {
  width: calc(100vw - 32px);
  max-width: $max-width;
}

.wrapper {
  display: flex;
  padding: $padding;
  position: relative;
}

.left {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 260px;
}

.right {
  flex-grow: 1.5;
  flex-basis: 0;
  margin-left: $padding;
}

@media (max-width: 570px) {
  .wrapper {
    flex-direction: column;
    padding: $margin;
  }

  .left {
    margin-bottom: $margin;
    max-width: none;
  }

  .right {
    margin-left: 0;
  }
}

.img {
  display: block;
  width: 100%;
}

.name {
  @include typography.typography('headline4');
  color: map.get(config.$colors, 'foreground');
  margin: 12px 0 8px;
}

.bioHeader {
  @include typography.typography('headline6');
  color: map.get(config.$colors, 'foreground');
  font-weight: 600;
  margin: 0;
}

.bio {
  @include typography.typography('body1');
  color: map.get(config.$colors, 'accents-5');
  margin: 0;
}

.socialLink {
  @include typography.typography('subtitle1');
  margin-right: 10px;
  font-size: 0;

  &:before {
    font-size: 24px;
    font-family: 'FontAwesome';
    color: map.get(config.$colors, 'accents-5');
    text-decoration: none;
    -webkit-text-stroke: 1px transparent;
    transition: all 0.2s;
    cursor: pointer;
  }

  &:hover:before {
    color: transparent;
    -webkit-text-stroke: 1px map.get(config.$colors, 'accents-5');
  }
}

.website:before {
  content: '\f0ac';
}

.email:before {
  content: '\f0e0';
}

.github:before {
  content: '\f09b';
}

.linkedin:before {
  content: '\f08c';
}

.twitter:before {
  content: '\f099';
}

.facebook:before {
  content: '\f09a';
}

.instagram:before {
  content: '\f16d';
}

.indiehackers:before {
  content: 'IH';
  font-weight: 800;
  font-family: map.get(config.$fonts, 'sans');
}
