@use 'sass:map';
@use '@tutorbook/styles/config';
@use '@tutorbook/styles/typography';

$min-width: 650px;
$padding: 40px;
$margin: 24px;

.dialog :global(.mdc-dialog__surface) {
  width: 50vw;
  max-width: 800px;
  min-width: $min-width;
}

.wrapper {
  display: flex;
  padding: $padding;
  position: relative;
}

.left {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 260px;
}

.right {
  flex-grow: 1.5;
  flex-basis: 0;
  margin-left: $padding;
}

@media (max-width: $min-width + 32px) {
  .dialog :global(.mdc-dialog__surface) {
    min-width: 0;
    width: calc(100vw - 32px);
  }
}

@media (max-width: 570px) {
  .wrapper {
    flex-direction: column;
    padding: $margin;
  }

  .left {
    margin-bottom: $margin;
    max-width: none;
  }

  .right {
    margin-left: 0;
  }
}

.img {
  display: block;
  width: 100%;
}

.name {
  @include typography.typography('headline4');
  color: map.get(config.$colors, 'foreground');
  margin: 12px 0 8px;
}

.bioHeader,
.requestHeader {
  @include typography.typography('headline6');
  color: map.get(config.$colors, 'foreground');
  font-weight: 600;
  margin: 0;
}

.requestHeader {
  margin: $margin 0 16px;
}

.bio {
  @include typography.typography('body1');
  color: map.get(config.$colors, 'accents-5');
  margin: 0;
}

.socialLink {
  @include typography.typography('subtitle1');
  font-size: 24px;
  margin-right: 10px;
  font-family: 'FontAwesome';
  color: map.get(config.$colors, 'accents-5');
  text-decoration: none;
  -webkit-text-stroke: 1px transparent;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    color: transparent;
    -webkit-text-stroke: 1px map.get(config.$colors, 'accents-5');
  }
}

.website:before {
  content: '\f0ac';
}

.email:before {
  content: '\f0e0';
}

.github:before {
  content: '\f09b';
}

.linkedin:before {
  content: '\f08c';
}

.twitter:before {
  content: '\f099';
}

.facebook:before {
  content: '\f09a';
}

.formField {
  margin: 8px 0;
  width: 100%;
}

.formField textarea {
  resize: vertical;
}

.formField:first-child {
  margin-top: 0;
}

.formField:last-child {
  margin-bottom: 0;
}

.button {
  margin: 8px 0 0;
  width: 100%;
}

.errMsg {
  color: map.get(config.$colors, 'error');
  font-weight: 450;
  margin-top: 16px;
}
