@use 'styles/typography';
@use 'styles/loader';

$height: 125px;
$margin: 20px;

.result {
  height: $height;
  position: relative;
  border-bottom: 1px solid var(--accents-2);
  box-sizing: border-box;
  border-top: none;
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }

  &.loading {
    cursor: not-allowed;

    .subjects,
    .message {
      @include loader.loading();
      border-radius: 4px;
    }

    .message {
      top: $margin * 2 + 24px;
      height: $height - (3 * $margin + 24px);
    }
  }

  .subjects {
    @include typography.typography('body1');
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--on-background);
    display: inline-block;
    position: absolute;
    left: $margin;
    top: $margin;
    width: calc(100% - #{2 * $margin});
    height: 24px;
  }

  .message {
    @include typography.typography('body2');
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--accents-5);
    display: inline-block;
    position: absolute;
    left: $margin;
    top: $margin + 24px;
    width: calc(100% - #{2 * $margin});
    height: $height - (2 * $margin + 24px);
  }
}
